.stats {
    margin-top: 0;
}

.back-button {
    height: 32px;
    width: 100%;
}

.avatar {
    width: 100%;
}

.description {
    margin-left: 5px;
    font-size: 0.85rem;
}

.specs {
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    font-size: 0.80rem;
}

@media screen and (min-width: 768px) {
    .description {
        margin-left: 0;
    }

    .specs {
        margin-left: 0;
    }
}

@media screen and (min-width: 992px) {
    .stats {
        margin-top: 50px;
    }
    .back-button {
        height: 48px;
    }
    .avatar {
        width: 350px;
    }
    .specs {
        display: flex;
        justify-content: flex-start;
    }
    .specs > * {
        margin-right: 15px;
    }
}